<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426285367777-aaat0cv8b16t9dojdn7sqa20oeuto36u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426285367777-aaat0cv8b16t9dojdn7sqa20oeuto36u</string>
	<key>API_KEY</key>
	<string>AIzaSyBIxfxCNER3fP3Pgrpve8Q5tRGtcIxRRv4</string>
	<key>GCM_SENDER_ID</key>
	<string>426285367777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>monash.Dashboard</string>
	<key>PROJECT_ID</key>
	<string>monash-f48b3</string>
	<key>STORAGE_BUCKET</key>
	<string>monash-f48b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426285367777:ios:60ba12b7fe66c65998d2a0</string>
	<key>DATABASE_URL</key>
	<string>https://monash-f48b3.firebaseio.com</string>
</dict>
</plist>